<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\aceof\Desktop\ETC\Code\JavaFinalProject\sousettia\src\src.jar</jar>
  <outfile>C:\Users\aceof\Desktop\WhiteSwanBank.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir></chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\aceof\Downloads\137852811086 (1).ico</icon>
  <singleInstance>
    <mutexName>WhiteSwanBank</mutexName>
    <windowTitle>WhiteSwanBank</windowTitle>
  </singleInstance>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>17.0.0</minVersion>
    <maxVersion></maxVersion>
  </jre>
  <versionInfo>
    <fileVersion>1.0.0.0</fileVersion>
    <txtFileVersion>1.0.0.0</txtFileVersion>
    <fileDescription>Java Final Project BankManagement Software</fileDescription>
    <copyright>MIT</copyright>
    <productVersion>1.0.0.0</productVersion>
    <txtProductVersion>1.0.0.0</txtProductVersion>
    <productName>Java Final Project Bank</productName>
    <companyName>Sousettia</companyName>
    <internalName>WhiteSwanBank</internalName>
    <originalFilename>WhiteSwanBank.exe</originalFilename>
    <trademarks></trademarks>
    <language>ENGLISH_US</language>
  </versionInfo>
</launch4jConfig>